.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Doc/v2/~$Analysis.xlsx
Doc/v2/~$return_for_double_down.xlsx
Doc/v3/~$Analysis.xlsx
Doc/v3/~$return_for_different_start_date(roundLimit7_takeProfit2.5%_positionLevel2.0%.xlsx
